body {
	background:#000033;
	color: #ffffff
}
	
#contents {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	
	background:#ffad99;
}

h1 { 

}

A:link {

}

A:hover {

}

a:visited {

}

#headblock address { 

}
 
 #home{
background:#ffad99
 }
 
 h3 {

}
 
 img {
	width: 260px;
}

img.left {

}

#footer {

}

#clearer {

}
