body {
	background:#ff9b71;
	color: #000066;
	
}
	
#contents {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	
	background:#fffd99;
	padding: 35px;
	font-family: 'Lato', sans-serif;
	font-size: medium;
		 border: white inset 40px;
}

h1 { 

}

A:link {
	text-decoration:
		color:#fc0;
}

A:hover {
	color:#000000;
}

a:visited {

}

#headblock address { 

}
 
 #home{
background:#fffd99;
	padding: 35px;
	
 }
 
 h3 {

}
 
 img {
	width: 260px;
	 float:right;
	 padding: 35px;
}

img.left {
	float:left;
	paddding: 35px;
}

#footer {
	width: 144px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

#clearer {

}
