body {
	background:#ff9b71;
	color: #2d3047
}
	
#contents {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	
	background:#fffd99;
}

h1 { 

}

A:link {

}

A:hover {

}

a:visited {

}

#headblock address { 

}
 
 #home{
background:#fffd99
padding: 35px
 }
 
 h3 {

}
 
 img {
	width: 260px;
}

img.left {

}

#footer {

}

#clearer {

}
